@font-face {
    font-family: 'latoreg';
    src: url(./Fuente/Lato-Regular.ttf);  
    }
@keyframes slidein {
    from {margin-left: 70%;
    width: 50% }
to {
    margin-left: 4.5%;
    width: 100%;}
}
@keyframes aparece {
    0% { margin-top: -100%;}
    
    100% {margin-top: 0;}
}
@keyframes animate {
    20%{
        background-image: url(/slide/1.jpg);
    }
    40%{
        background-image: url(/slide/3.jpg);
    }
    60%{
        background-image: url(/slide/4.jpg);
    }
    80%{
        background-image: url(/slide/5.jpg);
    }
    100%{
        background-image: url(/slide/6.jpg);
    }
}
*{
    margin: auto;
    padding: 0;
    font-family: 'latoreg';
    font-weight: 500;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: url(/bgbody2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(26, 22, 23); */
    display: flex;
    flex-direction: column;
    min-height: 160vh;
    height: 100%;
    width:100% ;
}
main{
    width: 100%;
    height: 90%;
}
footer{
    border-top: solid 2px #fff;
    height: 10%;
    position: relative;
    bottom: -150vh;
    width: 100%;
    margin: auto;
}
/* -----------------Head------------------------------ */
header{
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    border-bottom: 2px solid rgba(255,255,255,.2);
    z-index:9 ;
}
.head::before{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4),transparent);
    transition: 1.5s;
}
.head:hover::before{
    left: 100%;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: .5s;
}
.navbar a:hover::after{
    transform: scale(1);
}

header .logo{
    margin: 0;
    position: relative;
    width: 5rem;
}

header .navbar a{
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
}
grid-outline{
    position: relative;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
.toggle-btn{
    position: relative;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none !important;
}
.change{
    display: none;
}
/* -----------------Portada------------------------------ */

.portada {
    margin-left: 20%;
    margin-bottom: 5px;
    width: 60%;
    position: relative;
    align-items: center;
    top:0;
    height: 5%;
    padding: 0 20px 0;
    backdrop-filter: blur(15px);
    z-index: 1;
    max-width: 1300px;
}   
.gallery{
    height: 30%;
    width: 100%;
    max-width: 1300px;
}
.contacts{
    height: 30%;
    width: 100%;
    max-width: 1300px;
}
.portada{
    margin-top: 20px;
}
.portada h2{
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}
.portada h1{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}
/* -----------------back------------------------------ */
.back{
    background-image: url(/slide/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: animate 25s infinite, reverse;
    max-width: 1300px;
}
.back h3{
    margin: 0;
    padding: 0 10px;
    border-radius: 10px;
    padding: 2%px;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(18px);
    padding: auto;
    width: 40%;
    height: auto;
    text-align: justify;
    color: #fff;
    font-size: 1.5em;
    max-width: 1300px;
}
.txt{
    margin: auto;
}

/* ------------cont info------------------- */

.contenedorvisitas{
    
    width: 100%;
    max-width: 1300px;
}   
.visitas{
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    max-width: 1300px;
    background-color: rgb(45, 49, 49);
    width: 100%;
    height: 60px;
    border-radius: 10px;
}
.visitas a{
    margin: 3%;
    text-decoration: none;
    color: #fff;
    height: 50%;
    width: auto;
    font-size: 1em;
    
}
.visitas a:hover{
    color: black;
    background-color: #fff;
}
iframe{
    margin-left: 5px;
    position: relative;
    right: 0;
    min-width: 250px;
    max-width: 500px;
}

.h3visitas{
    backdrop-filter: blur(18px);
    margin: 0 2% 2%;
    width: 40%;
    color: #fff;
}
.coliseo{
    position: relative;
    background: url(/Img/coliseoromano/exterior.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
    max-width: 1300px;
    border-radius: 15px;
} 
.louvre{
    margin-top: 20px;
    position: relative;
    background: url(/img/louvre/exterior.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
    max-width: 1300px;
    border-radius: 15px;
}    

.colon{
    margin-top: 20px;
    position: relative;
    background: url(/img/colon/ext.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
    max-width: 1300px;
    border-radius: 15px;
}       
/* ------------contacs------------------- */
.secccontacs{
    background-color: rgb(45, 49, 49);
    margin-top: 15px;
    display: flex;
    max-width: 1300px;
    width: 100%;
    
}
.left{
    flex-direction: column;
    margin: auto;
    border-right: solid 2px #fff;
    padding: 2%;
    background: rgba(8, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
.contform{
    flex-direction: column;
    background: rgba(8, 0, 0, 0.1);
    border: solid 2px #000000;
    backdrop-filter: blur(20px);
    width: 600px;
    margin: 1%;
}
.contform h3{
    color: #fff;
    text-align: center;
}
.left p{
    color: #fff;

}
.left h3{
    color: #fff;
}
i{
    position: relative;
    color: #fff;
}
.contacts{
    display: flex;
    width: 100%;
    height: 200px;
}
.contform input {
    width: 100%;
    height: 50px;
    text-decoration: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.contform textarea{
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}



/* ------------footer------------------- */
.footer1 a{
    color: #fff;
}
.footer1 p{
    color: #fff;
}
.foot2 {
    color: #fff;
}
.foot1 {
    color: #fff;
}
.footer2{

    position: relative;
    color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 510px ){
    .secccontacs{
        display: block;
    }
    .left{
        margin: auto;
        border-bottom: solid 2px #fff;
        height: auto;
    }
    .contform{
        margin: auto;
        background-color: rgb(45, 49, 49);
        width: 100%;
        height: auto;
    }
    .portada {
        margin-left: 0;
        width: 100%;
        height: auto;
    }   
    .portada h2{
        font-size: 0.9em;
    }
    .portada h1{
        font-size: 1.8em;
        font-weight: 300;
    }
    .back h3{
        border-radius: 10px;
        padding: 10px;
        background: rgba(255,255,255,.3);
        backdrop-filter: blur(18px);
        width: 60%;
        height: 30%;
        text-align: center;
        color: #fff;
        font-size: 1.1em;
        
    }
    .h3visitas{
        margin: 1%;
        width: 80%;
        color: #fff;
    }
    footer{
        bottom: -180vh;
    }
}
@media (max-width: 994px ){
    .back h3{
        border-radius: 10px;
        padding: 10px;
        background: rgba(255,255,255,.3);
        backdrop-filter: blur(18px);
        width: 55%;
        height: auto;
    }
}

@media (max-width: 768px ){
    .toggle-btn{
        position: absolute;
        top: 10;
        right: 10%;
        display: block !important;
    }
    
    .menu{
        display: none;
        
    }
    header .navbar{
        background:  #3e4144ea;
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
        animation-duration: 1s;
        animation-name: aparece;
        
    } 
    header .navbar a {
        display: block;
        /* margin: 1.5rem; */
        animation-delay: 0.3s;
        animation-duration: 1.5s;
        animation-name: slidein;
    }
    .change:checked + .menu{
        display: inline-block;
        
    }
    .navbar a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom:-6px;
        width: 15%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform: scale(0);
        transition: .3s;
    }
    .navbar a:hover::after{
        transform: scale(1);
    }
}
