@font-face {
    font-family: 'latoreg';
    src: url(./Fuente/Lato-Regular.ttf);  
    }

    
*{
    margin: 0;
    padding: 0;
    font-family: 'latoreg';
    font-weight: 500;
}
@keyframes 
tracking-in-expand{  
    0%{letter-spacing:0.2em;opacity:0} 40%{opacity:.6} 100%{opacity:1}
                    
                }
@keyframes scale-up-bottom-right{0%{transform:scale(.5);transform-origin:right bottom}100%{transform:scale(1);transform-origin:right bottom}}


html{
    scroll-behavior: smooth;
    
}
p{
    margin: 0 ;
    padding: 0;
}
.museo {
    list-style: none;
    margin: auto;
    padding: 0;
    
}
body{
    margin: auto;
    padding: 0;
    background-color:#161A1D;
    height: 180vh;
}
header {
    margin: auto;
    background-color: #0B090A;
    width: 100%;
    height: 10%;
    max-width: 1300px;
}
main{
    
    width: 100%;
    height: 80%;
    
}
footer{
    margin: auto;
    background-color: #F5F3F4;
    width: 100%;
    height: 10%;
    max-width: 1300px;
}
h1{
    color: #0B090A;
    text-decoration:underline;
    font-size:180%;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
/* Dentro del Header */
.contenedornav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
}
.change{
    display: none;
}
.contenedormenu{
    display: flex;
    justify-content:center;
    align-items: center;
    
    width: 50%;
    height: 100%;
}

.imglogo{
    max-height: 90%;
    height: 90%;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}
.iconmenu{
    display: none !important;
    
}

.txtmenu{
    padding: 5px;
    font-size: 1.4em;
    color: aliceblue;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    float: left;
}
.txtmenu1{
    background-color: #660708;
    border-radius: 15px;
    color: aliceblue;
    float: left;
    padding: 5px;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
    
}
.a1{
    color: aliceblue;
    font-size: 1em;
    float: left;
}
.a6{
    color: #161A1D;
    font-size: 1em;
    float: left;
    
}
.txtmenu1:hover {
    background: #E5383B;
    animation:tracking-in-expand 0.3s linear both;
}

/* Dentro del Main */
h1{
    margin: 2%;
}
.tituloh1{
    background-color: #FFFFFF;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    
}
.secc0{
    margin: auto;
    max-width: 1300px;
    background-color: #B1A7A6;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.secc1{
    margin: auto;
    max-width: 1300px;
    background-color:#F5F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}
.secc2{
    margin: auto;
    max-width: 1300px;
    background-color: #161A1D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 30%;
} 
/* Dentro del Seccion 0 */
.portada{
    margin: 1%;
    column-count: 2; 
    width: 100%;
    height: 100%;
}

.txt0{
    color: rgb(253, 253, 253);
    font-size: 1.8em;
    font-family: "nunitoitalic";
    font-weight: 300;
    margin: 2%;
}
.imgportada{
    height: 80%;
    object-fit: cover;
}

/* Dentro del Seccion 1 */
.info{
    display: flex;
    
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}
.contcontacto{
    margin-top: 5%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.contenedorinfo2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 40%;
}
.contenedorinfo3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
}

.a2{
    color: aliceblue;
    font-size: 1em;
    float: left;
}
button{
    text-decoration: none;
    border: none;
    background-color: #081c15;
    color: white;
    padding: 10px;
    cursor:pointer;
}
button:hover{
    
    background-color: #74c69d;
}

.lblfrm{
    color:#0B090A;
    width: 100%;
    text-align: center;

}
.frmcont{
    width: 90%;
}

.frm{
    display: flex;
    flex-direction: column;
}
.conttxt1{
    width: 30%;
    height: 20%;
}
.imputfrm{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border-color: #0B090A;
    border-style:groove;
}
.areafrm{
    border-style:dotted;
    height: 50px;
    border-radius: 10px;
    border-color: #0B090A;
    text-align: center;
}
.txt1{
    color: rgb(253, 253, 253);
    font-size: 1.5em;
    font-weight: 500;
}
.botonesreging{

    padding: 10px;
}
/* Dentro del Seccion 2 Galeria de Imagenes */
.selector{
    display: flex;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #A4161A;
    
    width: 100%;
    height: 35%;
}

.selec{
    display: flex;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
    height: 100%;
    width: 50%;
}
.contenedorgaleria{
    background-color: #E5383B;
    width: 100%;
    height: 65%;
    flex-wrap: wrap;
    overflow: hidden;
}

.imggaleria1{
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    width: Auto;
    height: 100%;
}
.imggaleria2{
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.imggaleria3{
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
.galeria{
    width: auto;
    height: 100%;
    overflow: hidden;
}

.galeria2{
    overflow: hidden;
    width: 80%;
    height: auto;
    
}
.galeria3{ 
    width: auto;
    height: 100%;
}

.imgselector{
    margin: 0;
    width: auto;
    height: 90%;    
}


.leonardo:hover::after{
    content: 'Leonardo Da Vinci';
    position: absolute;
    color:black;
    background-color: aliceblue;
}
.monet:hover::after{
    content: 'Claude Monet';
    position: absolute;
    color:black;
    background-color: aliceblue;
}
.vincent:hover::after{
    content: 'Vincent Van Gogh';
    position:absolute;  
    color:black;
    background-color: aliceblue;
}
/* Footer */
h4{
    font-family: "nunito";
    margin: 10px 0 0 0;
    padding: 0;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}

.imgfoot{
    margin: 2px;
    display: flex;
    height: 90%;
    width: auto;
}

.foot1{
    margin: 0;
    padding: 0;
    height: 100%;
}
.foot2{
    margin-right: 5px;
    
}

.txt3{
    font-size: 0.7em;
    margin: 0 0 0 10px;
    padding: 0;
}
.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

@media (max-width: 768px) {
    
    
    .txt0{
        border-style:unset;
        margin-left: 2%;
        font-size: 1.2em;
    }
    .info{
        display: block;
    }
    .contenedorinfo2{
        height: 40%;
        width: 100%;
    }
    .contenedorinfo3{
        margin-left: 2%;
        height: 60%;
        width: 100%;
    }
}


@media (max-width: 702px){
    /* Selector */
    .selec{
        display: flex;
        align-items: center;
        justify-content:space-around;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    /* GALERIA */
    .galeria{
        display: flex;
        overflow: hidden;
        object-fit: cover;
        width: 80px;
        height: 200px;
        
    }
    .galeria2{
        display: flex;
        overflow: hidden;
        object-fit: cover;
        width: 80px;
        height: 200px;
        
    }
    .galeria3{
        display: flex;
        overflow: hidden;
        object-fit: cover;
        width: 80px;
        height: 200px;
        
    }
    /* TXT Info SECC1 */
    .a1{
        font-size: 0.8em;
    }
    .a2{
        font-size: 0.9em;
    }
   
   
    .txt2{
        
        font-size: 0.8em;
    }
    .botonesreging{
        display: block;
    }
    .imglogo{
        max-height: 50%;
        height: 50%;
        width: auto;
    }
    /* TXT Info SECC1 */
    .contenedornav{
        display: flex;
        justify-self: flex-end;
        align-items: center;
        margin: auto;
    }
    
}



@media (max-width: 768px) {
    
    body{
        height: 300vh;
    }
   
    
   
    .tituloh1{
        font-size: 0.8em;
    }
    .txt0{
        border-style:unset;
        margin-left: 2%;
        font-size: 1.6em;
    }
}
@media (max-width: 586px){
   .iconmenu{
    display: flex !important;
   }
    .txtmenu{
        display: none;
        margin: 0;
        padding: 0;
       
    }
    .txt0{
        font-size: 1.3em;
    }
    .change:checked + .txtmenu{
        display: inline-block;
        animation:scale-up-bottom-right 0.4s;
        /* animation:slide-left 0.4s linear both; */
    }
    .imgselector{
        margin: 0;
        width: auto;
        height: 60%;    
    }
    .selec{
        display: flex;
        height: 100%;
        width: 90%;
    }

    .txtmenu1{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 15%;
        text-align: center;
        font-size: 0.8em;
    }
    .contenedormenu{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end ;
        margin-right: 30px;
    }
    .a6{
        font-size: 0.8em;
        
    }
    
    .vincent:hover::before{
        content: 'Vincent Van Gogh';
        position:absolute;
        width: 30%;   
        color:black;
        background-color: aliceblue;
    }
    .vincent:hover::after{
        visibility: hidden;
        content: 'Vincent Van Gogh';
        position:absolute;  
        color:black;
        background-color: aliceblue;
    }
}
@media (max-width: 425px) {
    
    
    .txt0{
        margin: auto;
        border-style:unset;
        text-align: center;
        font-size: 1.2em;
    }
    .secc0{
        margin: auto;
        max-width: 1300px;
        background-color: #B1A7A6;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .secc2{
        margin: auto;
        max-width: 1300px;
        background-color: #161A1D;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
        height: 25%;
    } 
    .info{
        display: block;
    }
    .contenedorinfo2{
        height: 40%;
        width: 100%;
    }
    .contenedorinfo3{
        margin-left: 2%;
        height: 60%;
        width: 100%;
    }
}