@font-face {
    font-family: 'latoreg';
    src: url(./Fuente/Lato-Regular.ttf);  
    }

    
*{
    margin: 0;
    padding: 0;
    font-family: 'latoreg';
    font-weight: 500;
}

section{
    background:url(/Img/fondologin.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.cont-form{
    position: relative;
    background:transparent;
    backdrop-filter: blur(15px);
    border:solid 2px rgba(255,255,255,0.5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 450px;
    height: 500px; 
}
h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    top: 50%;
    left: 5px;
    color: #fff;
    font-size: 1em;
    pointer-events: none;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.olvido{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}
.olvido label input{
    margin-right: 3px;
}
.olvido label a{
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}
.olvido label a:hover{
    text-decoration: underline;
}
.btn{
    display: flex;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button a{
    color: black;
    text-decoration: none;
}
.registro{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px
}
.registro p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.registro p a:hover{
    text-decoration: underline;
}
@media (max-width: 430px) {
    .inputbox{
        margin-left: 20px;
        width: 200px;
        
    }
    .inputbox input {
        width: 100%;
        
    }
    .btn{
        display: block;
    }
    button{
        width: 90%;
        height: 30px;
        margin-left: 10px;
        font-size: 0.9em;
    }
    .olvido{
        margin: 25px;
        display: block;
        
    }
    .olvido label a{
        display: block;
        margin-top: 15px;
    }
}