@font-face {
    font-family: 'latoreg';
    src: url(./Fuente/Lato-Regular.ttf);  
    }

    
*{
    margin: 0;
    padding: 0;
    font-family: 'latoreg';
    font-weight: 500;
}

body{
    background:url(/Img/fondologin.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
section{
    position: relative;
    background: transparent;
    backdrop-filter: blur(15px);
    border:solid 2px rgba(255,255,255,0.5);
    border-radius: 50px;
    width: 80%;
    max-width: 550px;
    height: 800px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    text-decoration: none;
    border: none;
    background-color:#fff;
    border-radius: 25px;
    padding: 10px;
    width: 30%;
}
button:hover{
    background-color: grey;
}
button a{
    width: 100%;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}
h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.chec{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 5px;
    padding: 5px;
}

.contbutton{
    margin-top: 35px;
    display: flex;
    justify-content:center;
    align-items:center;
}
label{
    color: #fff;
    font-size: 1.2em;
}
.chec label{
    margin: 0px 15 0px;
}
.columna {
    margin: auto;
    position: relative;
    margin: 5% 14%;
    width: 70%;
    border-bottom: 2px solid #fff;
}
.columna label{
    top: 50%;
    left: 5px;
    color: #fff;
    font-size: 1em;
    pointer-events: none;
}
.columna input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
@media (max-width: 430px) {
    .chec label{
        margin: 0px 15 0px;
        font-size: 1em;
    }
    
}